{% extends 'base.html.twig' %}

{% block headline %}
    Ressource {{ action }}
{% endblock %}
{% block content %}
    {% if title %}
    <p>Sie sind dabei die Ressource <b>{{ title }}</b> zu {{ action }}.</p>

    {% elseif resources is iterable %}
    <p>
        Sie sind dabei die Ressourcen:
        {% for resource in resources %}
        <b>{{ resource }}</b>,</br>
        {% endfor %}
        zu {{ action }}.
    </p>

    {% endif %}
    <h2>Wirklich {{ action }}?</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
