{% extends 'base.html.twig' %}


{% block headline %}
       Ressourcen Verwaltung
    <a href="{{path('ontopress_resourceAdd')}}" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <form method="get">
        <p class="search-box">
        	<label for="user-search-input" class="screen-reader-text">Suche Ressourcen:</label>
            <input type="text" value="ontopress_resource" name="page" style="display:none">
        	<input type="search" value="" name="s" id="user-search-input">
        	<input type="submit" value="Ressourcen suchen" class="button" id="search-submit">
        </p>
    </form>
    <form method="get">
        <input type="text" value="ontopress_resource" name="page" style="display:none">
        <div class="tablenav top">
            <div class="alignleft">
                Ontologie: <select onchange="this.form.submit()" name="graph">
                    <option value="">Alle</option>
                {% for graph in graphs %}
                    {% if graph.name == currentGraph.graph %}
                        <option value="{{ graph.name }}" selected >{{ graph.name }}</option>
                    {% else %}
                        <option value="{{ graph.name }}">{{ graph.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <form action="admin.php?" method="get">
        <input type="text" value="ontopress_resourceDelete" name="page" style="display:none">
        <table class="wp-list-resource widefat fixed striped users">
            <thead>
                <tr>
                    <td class="manage-column column-cb check-column" id="cb">
                        <label for="cb-select-all-1" class="screen-reader-text">Alle auswählen</label>
                        <input type="checkbox" id="cb-select-all-1">
                    </td>
                    {% embed 'snippets/sortableColumn.html.twig'
                        with {'colName': 'name', 'colTitle': 'Titel', 'colPath': 'ontopress_resource'} %}
                    {% endembed %}
                    {% embed 'snippets/sortableColumn.html.twig'
                        with {'colName': 'author', 'colTitle': 'Autor', 'colPath': 'ontopress_resource'} %}
                    {% endembed %}
                    {% embed 'snippets/sortableColumn.html.twig'
                        with {'colName': 'date', 'colTitle': 'Datum', 'colPath': 'ontopress_resource'} %}
                    {% endembed %}
                </tr>
            </thead>
            <tbody id="the-list" data-wp-lists="list:resource">
            {% for resource in resourceManageTable %}
                <tr>
                    <th class="check-column" scope="row">
                        <label for="{{ resource.uri }}" class="screen-reader-text">{{ resource.title }} auswählen</label>
                        <input type="checkbox" value="{{ resource.uri }}" id="{{ resource.uri }}" name="resources[]">
                    </th>
                    <td class="Titel column-Titel" data-colname="Titel">
                        <p>{{ resource.title }}{{ resource.suspended }}</p>
                        <div class="row-actions">
                            <span class="edit"><a href="{{ path('ontopress_resourceEdit', {'uri': (resource.uri), 'title': (resource.title)}) }}">Bearbeiten</a></span>
                            <span class="edit"><a href="{{ path('ontopress_resourceDelete', {'uri': (resource.uri), 'title': (resource.title), 'resourceAction': 'suspend'}) }}">Deaktivieren</a></span>
                            <span class="delete"><a href="{{ path('ontopress_resourceDelete', {'uri': (resource.uri), 'title': (resource.title), 'resourceAction': 'delete'}) }}">Löschen</a></span>
                        </div>
                    </td>
                    <td class="Autor column-Autor" data-colname="Autor">
                        <p>{{ resource.author }}</p>
                    </td>
                    <td class="Datum column-Datum" data-colname="Datum">
                        <p>{{ resource.date|date("d.m.Y") }}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="manage-column column-cb check-column" id="cb">
                    <label for="cb-select-all-1" class="screen-reader-text">Alle auswählen</label>
                    <input type="checkbox" id="cb-select-all-1">
                </td>
                {% embed 'snippets/sortableColumn.html.twig'
                with {'colName': 'name', 'colTitle': 'Titel', 'colPath': 'ontopress_resource'} %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                with {'colName': 'author', 'colTitle': 'Autor', 'colPath': 'ontopress_resource'} %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                with {'colName': 'date', 'colTitle': 'Datum', 'colPath': 'ontopress_resource'} %}
                {% endembed %}
            </tr>
            </tfoot>
        </table>
    <div class="tablenav bottom">
        <select name="resourceAction">
            <option value="" selected>Aktion wählen</option>
            <option value="delete">Löschen</option>
            <option value="suspend">Deaktivieren</option>
        </select>
        <button type="submit" class="button">Übernehmen</button>
    </div>
    </form>

    {% if  (currentGraph.graph) is empty == false and (orderBy.orderBy) is empty %}
        <div class="pagination">
            <form action="{{ path('ontopress_resource', {'s': '', 'graph': (currentGraph.graph)}) }}" method="post">
                {{ include('resource/pagination.html.twig') }}
            </form>
        </div>
    {% elseif (orderBy.orderBy) is empty == false and (currentGraph.graph) is empty%}
        <div class="pagination">
            <form action="{{ path('ontopress_resource', {'orderBy': (orderBy.orderBy), 'order': (orderBy.order)}) }}" method="post">
                {{ include('resource/pagination.html.twig') }}
            </form>
        </div>
    {% elseif (orderBy.orderBy) is empty == false and (currentGraph.graph) is empty == false %}
        <div class="pagination">
            <form action="{{ path('ontopress_resource', {'s': '', 'graph': (currentGraph.graph),'orderBy': (orderBy.orderBy), 'order': (orderBy.order)}) }}" method="post">
                {{ include('resource/pagination.html.twig') }}
            </form>
        </div>
    {% else %}
        <div class="pagination">
            <form action="{{ path('ontopress_resource')}}" method="post">
                {{ include('resource/pagination.html.twig') }}
            </form>
        </div>
    {% endif %}
{% endblock %}
