{% extends 'base.html.twig' %}


{% block headline %}
       Ressourcen Verwaltung
    <a href="{{path('ontopress_resourceAdd')}}" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <form method="get">
        <p class="search-box">
        	<label for="user-search-input" class="screen-reader-text">Suche Ressourcen:</label>
        	<input type="search" value="" name="s" id="user-search-input">
        	<input type="submit" value="Ressourcen suchen" class="button" id="search-submit">
        </p>
        <div class="tablenav top">
            <div class="alignleft">
                Ontologie: <select name="Gebäude">
                    <option value="value1" selected>Gebäude</option>
                    <option value="value2">Plätze</option>
                    <option value="value3">Kirchen</option>
                </select>
            </div>
        </div>
        <table class="wp-list-resource widefat fixed striped users">
            <thead>
            <tr>
                <td class="manage-column column-cb check-column" id="cb">
                    <label for="cb-select-all-1" class="screen-reader-text">Alle auswählen</label>
                    <input type="checkbox" id="cb-select-all-1">
                </td>
                <th scope="col" id="id" style="width:90px" class="manage-column column-ID sortable desc" >
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-Titel sortable desc">
                    <a href="#">
                        <span>Titel</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-Autor sortable desc">
                    <a href="#">
                        <span>Autor</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-Datum sortable desc">
                    <a href="#">
                        <span>Datum</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody id="the-list" data-wp-lists="list:resource">
            <tr id="Resource-1">
                <th class="check-column" scope="row">
                    <label for="resource_1" class="screen-reader-text">Augustusplatz auswählen</label>
                    <input type="checkbox" value="1" id="resource_1" name="resources[]">
                </th>
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                    1<br>
                </td>
                <td class="Titel column-Titel" data-colname="Titel">
                    <p>Augustusplatz</p>
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_resourceAddDetails',{'id': 1}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="{{ path('ontopress_resourceDelete',{'id': 1}) }}">Löschen</a></span>
                    </div>
                </td>
                <td class="Autor column-Autor" data-colname="Autor">
                    <p>k00ni</p>
                </td>
                <td class="Datum column-Datum" data-colname="Datum">
                    <p>20.Jan 2016</p>
                </td>
            </tr>
            <tr id="Resource-2">
                <th class="check-column" scope="row">
                    <label for="resource_2" class="screen-reader-text">Uni Campu auswählen</label>
                    <input type="checkbox" value="2" id="resource_2" name="resources[]">
                </th>
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                    2<br>
                </td>
                <td class="Titel column-Titel" data-colname="Titel">
                    <p>Uni Campus</p>
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_resourceAddDetails',{'id': 2}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="{{ path('ontopress_resourceDelete',{'id': 2}) }}">Löschen</a></span>
                    </div>
                </td>
                <td class="Autor column-Autor" data-colname="Autor">
                    <p>k00ni</p>
                </td>
                <td class="Datum column-Datum" data-colname="Datum">
                    <p>22.Jan 2016</p>
                </td>
            </tr>
            <tr id="Resource-3">
                <th class="check-column" scope="row">
                    <label for="resource_3" class="screen-reader-text">Oper Leipzig auswählen</label>
                    <input type="checkbox" value="3" id="resource_3" name="resources[]">
                </th>
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                    3<br>
                </td>
                <td class="Titel column-titel" data-colname="Titel">
                    <p>Oper Leipzig</p>
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_resourceAddDetails',{'id': 3}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="{{ path('ontopress_resourceDelete',{'id': 3}) }}">Löschen</a></span>
                    </div>
                </td>
                <td class="Autor column-autor" data-colname="Autor">
                    <p>d3f3kt</p>
                </td>
                <td class="Datum column-datum" data-colname="Datum">
                    <p>22.Jan 2016</p>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="manage-column column-cb check-column" id="cb">
                    <label for="cb-select-all-1" class="screen-reader-text">Alle auswählen</label>
                    <input type="checkbox" id="cb-select-all-1">
                </td>
                <th scope="col" id="id" class="manage-column column-primary sortable desc ">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-titel sortable desc">
                    <a href="#">
                        <span>Titel</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-autor sortable desc">
                    <a href="#">
                        <span>Autor</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-datum sortable desc">
                    <a href="#">
                        <span>Datum</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
            </tr>
            </tfoot>
        </table>
    </form>
    <div class="tablenav bottom">
        <select name="action">
            <option value="value1" selected>Aktion wählen</option>
            <option value="value3">In Papierkorb legen</option>
        </select>
        <button type="button" class="button">Übernehmen</button>
    </div>

{% endblock %}
