{% use "form_table_layout.html.twig" %}

{%- block submitCancel_widget -%}
    {%- set type = type|default('submit') -%}
    {{ block('button_widget') }}
    <a class="page-title-action button cancel" href="{{ cancel_link }}">
        {{ translation_domain is same as(false) ? cancel_label : cancel_label|trans({}, translation_domain) }}
    </a>
{%- endblock submitCancel_widget -%}

{%- block button_row -%}
    <tr>
        <td>{{- form_widget(form) -}}</td>
        <td></td>
    </tr>
{%- endblock button_row -%}

{%- block form_row -%}
    <tr>
        <th scope="row">
            {{- form_label(form) -}}
        </th>
        <td>
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </td>
    </tr>
{%- endblock form_row -%}
