{% extends 'base.html.twig' %}

{% block headline %}
    Formular Verwaltung
    <a href="{{path('ontopress_formsCreate')}}" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <form method="get">
        <div class="tablenav top">
             <br class="clear">
        </div>
        <table class="wp-list-form widefat fixed striped users">
            <thead>
            <tr>
                <th scope="col" id="id" style="width:90px" class="manage-column column-id column-primary sortable desc">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Name</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Autor</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Datum</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
            </thead>
            <tbody id="the-list" data-wp-lists="list:form">
            {% for form in formManageTable %}
                <tr>
                    <td class="id column-id has-row-actions column-primary" data-colname="id">
                        <b>{{ form.id }}</b><br>
                    </td>
                    <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                        {% spaceless %}
                        <span style="color:silver">{{ form.ontology.name }}\</span>
                        <span>{{ form.name }}</span><br>
                        {% endspaceless %}

                        <div class="row-actions">
                            <span class="edit">
                                <a href="{{ path('ontopress_formsEdit', {'id': form.id}) }}">
                                    Bearbeiten
                                </a>
                            </span>
                            <span class="delete">
                                <a href="{{ path('ontopress_formsDelete', {'id': form.id}) }}">
                                    Löschen
                                </a>
                            </span>
                        </div>
                    </td>
                    <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                        {{ form.author }}<br>
                    </td>
                    <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                        {{ date(form.date).format('d.m.Y') }}<br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th scope="col" id="id" class="manage-column column-primary sortable desc ">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Name</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Autor</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Datum</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
            </tfoot>
        </table>
    </form>
{% endblock %}
