{% extends 'base.html.twig' %}

{% block headline %}
    Formular Verwaltung
    <a href="{{path('ontopress_formsCreate')}}" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <form method="get">
        <div class="tablenav top">
             <br class="clear">
        </div>
        <table class="wp-list-form widefat fixed striped users">
            <thead>
            <tr>
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'id', 'colTitle': 'ID', 'colPath': 'ontopress_forms'} %}
                    {% block colAttr %}
                        {{ parent() }} style="width: 90px"
                    {% endblock %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'name', 'colTitle': 'Name', 'colPath': 'ontopress_forms'} %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'author', 'colTitle': 'Autor', 'colPath': 'ontopress_forms'} %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'date', 'colTitle': 'Datum', 'colPath': 'ontopress_forms'} %}
                {% endembed %}
            </thead>
            <tbody id="the-list" data-wp-lists="list:form">
            {% for form in formManageTable %}
                <tr>
                    <td class="id column-id has-row-actions column-primary" data-colname="id">
                        <b>{{ form.id }}</b><br>
                    </td>
                    <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                        {% spaceless %}
                        <span style="color:silver">{{ form.ontology.name }}\</span>
                        <span>{{ form.name }}</span><br>
                        {% endspaceless %}

                        <div class="row-actions">
                            <span class="edit">
                                <a href="{{ path('ontopress_formsEdit', {'formId': form.id}) }}">
                                    Bearbeiten
                                </a>
                            </span>
                            <span class="delete">
                                <a href="{{ path('ontopress_formsDelete', {'id': form.id}) }}">
                                    Löschen
                                </a>
                            </span>
                        </div>
                    </td>
                    <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                        {{ form.author }}<br>
                    </td>
                    <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                        {{ date(form.date).format('d.m.Y') }}<br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'id', 'colTitle': 'ID', 'colPath': 'ontopress_forms'} %}
                    {% block colAttr %}
                        {{ parent() }} style="width: 90px"
                    {% endblock %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'name', 'colTitle': 'Name', 'colPath': 'ontopress_forms'} %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'author', 'colTitle': 'Autor', 'colPath': 'ontopress_forms'} %}
                {% endembed %}
                {% embed 'snippets/sortableColumn.html.twig'
                    with {'colName': 'date', 'colTitle': 'Datum', 'colPath': 'ontopress_forms'} %}
                {% endembed %}
            </tfoot>
        </table>
    </form>
{% endblock %}
