{% extends 'base.html.twig' %}

{% block headline %}OntoPress Dashboard{% endblock %}
{% block content %}
<div id="welcome-panel" class="welcome-panel">
    <div class="welcome-panel-content">
        <h2>Willkommen bei OntoPress</h2>
        <p class="about-description">Dieses Plugin ermöglicht Ihnen das Hochladen und Verwalten von Ontologien</p>

        <div class="welcome-panel-column-container">
            <div class="welcome-panel-column">
               <!--Ontologys-->
                <div class="dashboard-square">
                    <ul>
                        <li class="number">{{ ontologyCount }}</li>
                        <li>Ontologien</li>
                        <li>____________________</li>
                        <li><a href="{{path('ontopress_ontologyAdd')}}" class="welcome-icon welcome-add-page">Hinzufügen</a></li>
                    </ul>
                </div>
            </div>
            <div class="welcome-panel-column">
                <!--Forms-->
                <div class="dashboard-square">
                    <ul>
                        <li class="number">{{ formCount }}</li>
                        <li>Formulare</li>
                        <li>____________________</li>
                        <li><a href="{{path('ontopress_formsCreate')}}" class="welcome-icon welcome-add-page">Hinzufügen</a></li>
                    </ul>
                </div>
            </div>
            <div class="welcome-panel-column welcome-panel-last">
                <!--Resources-->
                <div class="dashboard-square">
                    <ul>
                        <li class="number">{{ resourceCount }}</li>
                        <li>Ressourcen</li>
                        <li>____________________</li>
                        <li><a href="{{path('ontopress_resourceAdd')}}" class="welcome-icon welcome-add-page">Hinzufügen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dashboard-widgets-wrap">
    <div id="dashboard-widgets" class="metabox-holder columns-2">
        <div id="postbox-container-1" class="postbox-container">
            <div id="normal-sortables" class="meta-box-sortables">
                <div id="dashboard_ontology" class="postbox " >
                    <h2 class='hndle'><span>Am meisten benutzte Ontologien</span></h2>
                    <div class="inside">
                        {% include 'dashboard/snippets/table/ontologyTable.html.twig' with {'table': dashTableOnto} %}
                    </div>
                </div>
            </div>
        </div>
        <div id="postbox-container-1" class="postbox-container">
            <div id="normal-sortables" class="meta-box-sortables">
                <div id="dashboard_form" class="postbox">
                   <h2 class='hndle'><span>Am meisten benutzte Formulare</span></h2>
                    <div class="inside">
                        {% include 'dashboard/snippets/table/formTable.html.twig' with {'table': dashTableForm} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dashboard-widgets-wrap">
    <div id="dashboard-widgets" class="metabox-holder columns-3">
        {% include 'dashboard/snippets/table/resourceTable.html.twig' with {'resourceTables': resourceTables} %}
    </div>
</div><!--dashboard widget wrap-->

{% endblock %}
