        <td class='inputRow'>
            {% for key, choice in formField.widget.choices -%}
            <input type="radio" value="{{ key }}" {{ formField.widget.attr|replace({'%id%': loop.index0})|raw }}>
            <label for="{{ formField.widget.labelAttr|replace({'%id%': loop.index0})|raw }}">{{ choice }}</label>
            {{- not loop.last ? '\n' }}
            {% endfor %}
            {% if formField.comment is not empty -%}
            <span class="dashicons dashicons-info"></span>
            <span class="comment">{{ formField.comment }}</span>
            {% endif -%}
        </td>
