{% extends 'base.html.twig' %}

{% block headline %}
    Ontologie löschen
{% endblock %}
{% block content %}
    <p>Sie sind dabei die Ontologie <b>{{ontologyDelete.name}}</b> zu löschen. Dazu werden auch alle verknüpften Formulare gelöscht.</p>

    <form method="get">
        <div class="tablenav top">
            <br class="clear">
        </div>
        <table class="wp-list-table widefat fixed striped users">
            <thead>
            <tr>
                <th scope="col" id="id" style="..." class="manage-column column-id column-primary sortable desc">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Name</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
            </thead>
            <tbody id="the-list" data-wp-lists="list:ontology">
            {% for form in ontologyForms %}
                <tr>
                    <td class="id column-id has-row-actions column-primary" data-colname="id">
                        <b>{{ form.id }}</b><br>
                    </td>
                    <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                        {% spaceless %}
                            <span>{{ form.name }}</span><br>
                        {% endspaceless %}
                        <div class="row-actions">
                            <span class="edit">
                                <a href="{{ path('ontopress_formsEdit', {'id': form.id}) }}">
                                    Bearbeiten
                                </a>
                            </span>
                            <span class="delete">
                                <a href="{{ path('ontopress_formsDelete', {'id': form.id}) }}">
                                    Löschen
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

    <h2>Wirklich löschen?</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
