{% extends 'base.html.twig' %}

{% block headline %}
    Ontologie Verwaltung
    <a href="{{path('ontopress_ontologyAdd')}}" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <div class="tablenav top">
        <br class="clear">
    </div>
    <table class="wp-list-table widefat fixed striped users">
        <thead>
        <tr>
            <th scope="col" id="id" class="manage-column column-id column-primary sortable desc" style="width: 90px">
                <a href="#">
                    <span>ID</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="ontology" class="manage-column column-ontology sortable desc">
                <a href="#">
                    <span>Ontologie</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="form" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Formular Anz.</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="author" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Autor</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="date" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Datum</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody id="the-list" data-wp-lists="list:ontology">
        {% for ontology in ontologyManageTable %}
            <tr>
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                   <strong>{{ontology.id}}</strong> <br>
                </td>
                <td class="ontology column-ontology" data-colname="Ontology">
                    <p>{{ontology.name}}</p>
                    {% include 'snippets/table/deleteRowAction.html.twig' with {'path': path('ontopress_ontologyDelete', {'id': ontology.id})} %}
                </td>
                <td class="form column-form" data-colname="Form">
                    <a href = "#">10</a>
                </td>
                <td class="author column-author" data-colname="Author">
                    {{ontology.author}}
                </td>
                <td class="date column-date" data-colname="Date">
                    {{ date(ontology.date).format('d.m.Y') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" id="id" class="manage-column column-id column-primary sortable desc">
                <a href="#">
                    <span>ID</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="ontology" class="manage-column column-ontology sortable desc">
                <a href="#">
                    <span>Ontologie</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="form" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Formular Anz.</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="author" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Autor</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="date" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Datum</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
